{% extends 'core/base.html'%}
{% block content%}
<div class=" container mt-5 ">
    <h1 class="text-warning mb-5 border-bottom ">SERVICES</h1>



    <div class=" row text-white text-center mb-5 ">
        <div class=" col-sm-4 mb-3 ">
            <i class=" fas fa-anchor fa-2x mb-3 i-color"></i>
            <h4>Creative Design</h4>
            <p class="ss-color">Design or user interface engineering is the design of user interfaces for machines and
                software.
                User interface design is its compliment, the look and feel the presentation and interactivity of
                product.</p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h4>Web Development</h4>
            <p class="ss-color">
                Web Development can range from developing a simple static page to complex web-based internet
                applications electronivc business, emerging technology and social network services.
            </p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fas fa-shopping-cart fa-2x mb-3 i-color"></i>
            <h4>E-commerse Solution</h4>
            <p class="ss-color">
                We are expert in building simplified user experience and navigation with quick response time
                while being conscious about budget. Our customize E-commerse portal is easy to use.Delevering
                end-to-end Business process solutions.
            </p>
        </div>
    </div>

    <div class=" row text-white text-center mb-5 ">
        <div class=" col-sm-4 mb-3 ">
            <i class="fab fa-android fa-2x mb-3 i-color"></i>
            <h4>It services software</h4>
            <p class="ss-color">
                Delivering end-to-end Business process solutions. A comphrehension guide to
                app design. Developing a Mobile application is a big investment, and the fundamental stages of the
                project should
                be providing a solid building material.

            </p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fas fa-code fa-2x mb-3 i-color"></i>
            <h4>Software Testing</h4>
            <p class="ss-color">
                Software Testing is an investigation conducted to provide stakeholders with information
                about the quality of the software product or service under test. our Testing practice prooffers broad-ranging
                suite of software Testing services.
            </p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fab fa-intercom fa-2x mb-3 i-color"></i>
            <h4>Easy To customize</h4>
            <p class="ss-color">
                We provides software customization.This cab be true if one is speaking of typical 
                challenges and typical solutions, higher performance and improved end user satisfaction.
            </p>
        </div>
    </div>

    <div class=" row text-white text-center mb-5 ">
        <div class=" col-sm-4 mb-3 ">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h4>Application And Maintenance services</h4>
            <p class="ss-color">
                The results are reduced costs, increased availability, higher performance
                and improved end user satisfaction.The results are reduced costs, increased availability
                to improved client satisfaction.
            </p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fas fa-mobile-alt fa-2x mb-3 i-color"></i>
            <h4>Mobile Application</h4>
            <p class="ss-color">
                Our services for Mobile Development are supported by our excellent design
                team who has experience in creating fantastic user experience for 
            Mobile applications. Enterprise Mobility solutions and we bring the edge technology on the horizon.          </p>


        </div>
        <div class="col-sm-4 mb-3">
            <i class="fas fa-laptop-code fa-2x mb-3 i-color"></i>
            <h4>ERP Application</h4>
            <p class="ss-color">
                We provide feasible ERP solutions that meet planned objective, schedules and project 
                specification.We provide best leading ERP solution in all functional area we follow various 
                methodology for Development.
            </p>
        </div>
    </div>
</div>




{% endblock content%}